{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <nav>
        <div class="logo" style="width: 4rem;"></div>
        <div>
            <div class="menu">Menu</div>
            <div class="links">
                <p>Home</p>
                <p>Dashboard</p>
                <p>Investments</p>
                <p>Logout</p>
            </div>
        </div>
    </nav>
    <div>
        <div>
            <div class="img">
                <img src='/paragan/static/img/man.png' alt="/" />
            </div>
            <div class="text-left">
                <p class="title">
                    Username
                </p>
                <p class="pl-5 py-3 border-b border-black font-light text-xl">
                    {{user_data.username}}
                </p>
                <p class="title">Phone</p>
                <p class="pl-5 py-3 font-light text-xl"> {{user_data.phone_number}}</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p style="font-weight: bold;">Contact Us:</p>
            <p>Email: paragonprimeinvestment@gmail.com</p>
        </div>
        <p>PPI &copy; 2024</p>
    </footer>
</body>

</html>