{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <!-- <script src="{% static 'js/login.js' %}"></script> -->
</head>

<body>
    <div>
        <div>
            <div className="border-b border-black">
                <img src={Profile} alt="/"
                    className="object-contain h-[200px] w-[200px] rounded-full border-4 border-black my-4 mx-auto" />
            </div>
            <div className="text-left">
                <p className="pl-5 py-3 border-black font-semibold text-2xl">
                    Username : {{user_data.username}}
                </p>
                <p className="pl-5 py-3 border-b border-black font-light text-xl">
                    name
                </p>
                <p className="pl-5 py-3 border-black font-semibold text-2xl">Phone</p>
                <p className="pl-5 py-3 font-light text-xl">phone no.</p>
            </div>
        </div>
    </div>
</body>

</html>