{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/investment.css' %}">
    <title>Document</title>
</head>

<body>
    <div>
        <div style="text-align: left;padding: 0 0.75rem;margin: 1rem 0;">
            <p style="font-weight: bold;font-size: 1.25rem;">Investments Plans</p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N2,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N10,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">
                Invest ₦
            </button>
            </Link>
            <p class="percentage">

                (20%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N4,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N20,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (20%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N5,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N50,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N10,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N100,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        {/* more */}
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N7,500</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N75,000</p>
            </div>
            <Link to="/payment">
            <button class="invest-btn">

                Invest ₦
            </button>
            </Link>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N15,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N150,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N20,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N200,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N30,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N300,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N40,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N400,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N50,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N500,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N75,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N750,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N80,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N800,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
        <div class="invest-card">
            <div class="invest-card-profit">
                <p style="font-size: 0.9rem;">Weekly Profit</p>
                <p>N100,000</p>
            </div>
            <div class="invest-card-capital">
                <p>Capital</p>
                <p>N1,000,000</p>
            </div>
            <button class="invest-btn">

                Invest ₦
            </button>
            <p class="percentage">

                (10%)
            </p>
        </div>
    </div>
    <footer>
        <div>
            <p style="font-weight: bold;">Contact Us:</p>
            <p>Email: paragonprimeinvestment@gmail.com</p>
        </div>
        <p>PPI &copy; 2024</p>
    </footer>
</body>

</html>