{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/payStack.css' %}">
  <title>Payment</title>
</head>

<body>


  <div>
    <div class="card-payment">
      <div style="font-weight: 600;">Make a transfer and confirm</div>
      <div>
        <h1>6577296777</h1>
        <p>MoniePoint</p>
        <p>Emmanuel Edward</p>
      </div>
    </div>
    <button className="btn-payment" onclick="">
      Confirm
    </button>
  </div>
  <footer>
    <div>
      <p style="font-weight: bold;">Contact Us:</p>
      <p>Email: paragonprimeinvestment@gmail.com</p>
    </div>
    <p>PPI &copy; 2024</p>
  </footer>
</body>

</html>