{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/payStack.css' %}">
  <title>Payment</title>
</head>

<body>
  <div>
    <div>
      <div class="h-[60vh]">
        <div class="px-3 py-3 rounded-lg shadow-lg my-6 w-3/4 h-[40%] mx-auto">
          <div class="font-semibold">Make a transfer and confirm</div>
          <div>
            <h1>6577296777</h1>
            <p>MoniePoint</p>
            <p>Emmanuel Edward</p>
          </div>
        </div>
        <button className="bg-green-500 border rounded-lg px-2 py-3  font-bold" onclick="">
          Confirm
        </button>
      </div>
    </div>
  </div>
</body>

</html>