html {
    scroll-behavior: smooth;
}

body {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: white;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.invest-card {
    position: relative;
    margin: 0.75rem;
    border-radius: .5rem;
    padding: 0.75rem 0;
    width: 90%;
    height: 150px;
    /* shadow-lg */
}

.invest-card-profit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
}

.invest-card-capital {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.invest-btn {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
    color: white;
    position: absolute;
    background-color: black;
    bottom: 0;
    right: 0;
    margin: 0.75rem;
}

.percentage {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1.25rem;
    font-size: .9rem;
    font-weight: normal;
}

footer {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem 0.75rem;
}